@{

}
<body>
    <h1>Carrinho</h1>
    <div class="container-fluid" style="height: 80vh; width: 80%; background:#D9D9D9; border-radius: 15px; padding: 30px;">
           <div class="container__carrinho" style="height: 80%; width: 100%"></div>
    <h1>Itens:</h1>
    <h1>Total:</h1>
    </div>

    <div class="container-fluid d-flex gap-5 mt-5">
        <button class="alert"><h1>Comprar</h1></button>
        <button class="alert"><h1>Limpar Carrinho</h1></button>
    </div>
</body>



