@{

}
<body>
    <h1 style="margin-left: 50px; margin-bottom: 30px;">Carrinho</h1>
    <div class="container-fluid" style="height: 900px; background:#D9D9D9; border-radius: 15px; padding: 30px;">
           <div class="container__carrinho" style="height: 80%; width: 100%; padding: 30px;">
                <h1>Seu carrinho está vazio</h1>
           </div>
           <div class="container__quantidade" style="padding: 30px;">
                <h1>Itens:</h1>
                <h1>Total:</h1>
           </div>
    </div>

    <div class="container-fluid d-flex gap-5 mt-5">
        <button class="" style="padding: 30px; background: #0900FF; border-radius: 15px; color: white;"><h1>Comprar</h1></button>
        <button class="" style="padding: 30px; background: #0900FF; border-radius: 15px; color: white;"><h1>Limpar Carrinho</h1></button>
    </div>
</body>



