@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="container-fluid">
        <h1>Compra</h1>
        <div class="container-fluid" style=" background: #D9D9D9; padding: 40px 70px 40px 70px; border-radius: 15px;">
            <h1>Produtos</h1>
            <div class="container-fluid" style="background: #A3A3A3; padding: 30px; border-radius: 15px;">
                <div class="card__compra" style="display: flex; background: #5D5C5C; padding: 30px; border-radius: 15px;">
                        <img src="#" alt="...">
                        <div class="container-fluid">
                            <h1>Cadeira de Rodas RX8975</h1>
                            <h3>Cadeiras de Rodas</h3>
                            <h3>R$ 1.500,00</h3>
                        </div>
                        <button style="background:#D9D9D9; border-radius: 15px; max-height:  50px;">Detalhes</button>
                    </div>
                </div>
            <h1>Formas de Pagamento</h1>
            <div class="d-flex" style="background: #A3A3A3; padding: 30px; gap: 30px; border-radius: 15px;">
                <div class="container" style="background: #D9D9D9; padding: 30px; border-radius: 15px;"><h1>Pix</h1></div>

                <div class="container" style="background: #D9D9D9; padding: 30px; border-radius: 15px;"><h1>Crédito</h1></div>

                <div class="container" style="background: #D9D9D9; padding: 30px; border-radius: 15px;"><h1>Débito</h1></div>

                <div class="container" style="background: #D9D9D9; padding: 30px; border-radius: 15px;"><h1>Boleto</h1></div>
            </div>
            <h1>Confirmar dados:</h1>
            <div class="container" style="background: #A3A3A3; border-radius: 15px; min-height: 400px; ">

            </div>
            <h1>Detalhes de Pagamento</h1>
            <div class="container" style="background: #A3A3A3; border-radius: 15px; min-height: 400px;">

            </div>
            <div class="container" style="margin-top: 40px;">
                <button class="" style="padding: 30px; background: #0900FF; border-radius: 15px; color: white;"><h1>Comprar</h1></button>
                <button class="" style="padding: 30px; background: #0900FF; border-radius: 15px; color: white;"><h1>Cancelar</h1></button>
            </div>
        </div>
    </div>
</body>