@model List<IN_TEGRA.Models.ItemPedido>

@{
    ViewData["Title"] = "Detalhes do Pedido";
    Layout = "Layout_painel";

}
<div class="container" style="background: #D9D9D9; border-radius: 30px; padding: 50px;">
    <h2>Detalhes do Pedido</h2>

    @foreach (var item in Model)
    {
        <div class="container" style="background:#B5B5B5; border-radius: 30px; padding: 30px;">
            <h2>Codigo: @item.IdProduto</h2>
            <h2>Nome: @item.NomeProduto</h2>
            <h2>Quantidade: @item.QuantidadeItemPedido</h2>
            <h2>Valor: @item.ValorItemPedido</h2>
        </div>
    }
</div>