<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IN-TEGRA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IN_TEGRA.styles.css" asp-append-version="true" />
</head>
<body style="padding: 0px; margin: 0px;">
    <div style="display:flex; width:100vw;">
        <nav style="background: #D9D9D9; padding: 60px; height: 100vh; display: flex; flex-direction: column; justify-content: space-between; ">
            <div class="container-fluid">
                <a href="#" style="text-decoration: none; color:inherit;"><h1>Dashboard</h1></a>
                <a asp-action="AlterarDados" style="text-decoration: none; color:inherit;"><h1>Conta</h1></a>
                <a asp-action="Pedidos" style="text-decoration: none; color:inherit;"><h1>Pedidos</h1></a>
            </div>
            <a asp-controller="Cliente" asp-action="Logout" style="padding: 30px; background: #0900FF; border-radius: 15px; color: white; display:inline-block; text-decoration:none;">
                <h1 style="margin:0; color:white;">LOGOUT</h1>
            </a>
        </nav>
        <div class="container pt-4">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
