<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IN-TEGRA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IN_TEGRA.styles.css" asp-append-version="true" />

    <style>

        .sidebar-link {
            text-decoration: none;
            color: white;
            font-family: 'ABeeZee', sans-serif;
            font-size: 18px;
            margin-bottom: 20px;
            display: block;
            transition: color 0.2s;
        }

            .sidebar-link:hover {
                color: #ccc;
            }


            .sidebar-link h1 {
                font-size: 20px;
                margin: 0;
            }
    </style>
</head>
<body style="padding: 0px; margin: 0px; font-family: 'ABeeZee', sans-serif;">

    <div style="display:flex; width:100vw; min-height: 100vh;">

        <nav style="background: #000050; padding: 40px; width: 250px; min-height: 100vh; display: flex; flex-direction: column; justify-content: space-between; flex-shrink: 0;">

            <div class="d-flex flex-column" style="margin-top: 20px;">
                <a asp-action="PainelCliente" class="sidebar-link">Dashboard</a>
                <a asp-action="AlterarDados" class="sidebar-link">Conta</a>
                <a asp-action="Pedidos" class="sidebar-link">Pedidos</a>
                <a asp-controller="Produto" asp-action="Index" class="sidebar-link">Página Principal</a>
            </div>

            <a asp-controller="Cliente" asp-action="Logout" style="padding: 15px; background: #F50057; border-radius: 10px; color: white; display:block; text-decoration:none; text-align: center;">
                <span style="margin:0; color:white; font-weight: bold; font-size: 18px;">SAIR</span>
            </a>
        </nav>

        <div style="flex-grow: 1; background: #EAEAEA; overflow-y: auto; display: flex; justify-content: center; align-items:center;">
            <main role="main" style="height: 90%; width: 50%;">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>